section.section(class="bg-light")
	.container
		h1 Home Page

		.row.mt-5
			- const imgURI = ["icon-1.png", "icon-2.png", "icon-3.png", "icon-4.png", "icon-5.png", "icon-6.png"];
			each val, index in imgURI.length ? imgURI : ['There are no value']
				.col.text-center
					.img-thumbnail.p-4
						img(src="./images/" + val alt="Icon Image")
						strong.d-block.mt-3 Image # #{index + 1}