doctype html
html(lang="en")

	head
		//- Head block here
		block head

		// Required meta tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		// Favicon
		link(rel="icon" href="./images/favicon.ico" type="image/x-icon")

		// Bootstrap with Default CSS & Theme style
		link(rel="stylesheet" href="css/theme.css")
		
		// Page Title here
		title Pug JS Basic - #{title}

	body
		//- Page block here
		block page

		//- All JS Sript block here
		// Bootstrap with Popper & Custom JS
		block script
		script(src="js/bundle.js")
